<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036114317961-kcpq9s8mhr6jghhdmp0qeag8ohmggfgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036114317961-kcpq9s8mhr6jghhdmp0qeag8ohmggfgi</string>
	<key>API_KEY</key>
	<string>AIzaSyBzDmv4iZy0TpcYVV6-9l_gDWUm3CvK9DI</string>
	<key>GCM_SENDER_ID</key>
	<string>1036114317961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waiyip.NewsRate</string>
	<key>PROJECT_ID</key>
	<string>newsrate-d0f59</string>
	<key>STORAGE_BUCKET</key>
	<string>newsrate-d0f59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036114317961:ios:439ea36ab60f1c544fec58</string>
	<key>DATABASE_URL</key>
	<string>https://newsrate-d0f59.firebaseio.com</string>
</dict>
</plist>